@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Fontes */
    --bf: "Roboto Flex", sans-serif;
    --tf: "Roboto Condensed", sans-serif;
    /* Cores */
    --lc: #FFFFFF;
    --mc: #808080;
    --dc: #000000;
}

*, *::before, *::after {margin:0; padding:0; border:0; box-sizing: border-box;}

body {
    font-family: var(--bf);
    background-color: var(--lc);
    color: var(--dc);
}